@font-face {
  font-family: 'CMHandwriting';
  src: url('CMHandwritingOne-Regular.ttf');
  /*URL to font*/
}
body {
  background: #fafafa;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
h1 {
  color: darkslategrey;
}
.hero-unit {
  margin: 50px auto 0 auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 6px;
  padding: 60px;
  color: ivory;
  margin-bottom: 80px;
}
.hero-unit h1 {
  color: #f0f8d6;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
ul.projects {
  height: 300px;
  overflow-y: auto;
}
ul.projects li {
  display: inline-block;
  width: 320px;
  margin: 5px;
  padding: 5px;
  border: 1px solid grey;
  background-color: ivory;
}
ul.projects a {
  color: #222;
}
ul.projects a:hover {
  font-style: none;
}
.textwrapper {
  float: left;
  width: 500px;
  margin-left: 20px;
  padding: 20px;
  padding-right: 5px;
  border-radius: 20px;
  background: slategrey;
  height: 542px;
  opacity: 0.8;
}
.text {
  font-size: 20px;
  text-align: justify;
  color: snow;
  font-family: fantasy;
  overflow-y: auto;
  height: 500px;
  padding-right: 15px;
}
.image {
  text-align: center;
  background-color: rgba(220, 210, 200, 0.5);
  padding: 20px;
  border-radius: 20px;
  height: 542px;
  width: 542px;
  float: left;
}
.image img {
  max-height: 500px;
  max-width: 500px;
  opacity: 1;
}
.splash {
  max-height: 700px;
  max-width: 700px;
  opacity: 1;
  margin-left: 350px;
  margin-top: 75px;
}
.splash img {
  border-radius: 20px;
  border: 3px solid #232323;
}
.splash h1 {
  font-family: CMHandwriting, arial;
  font-size: 3em;
  color: #e0ffff;
  width: 700px;
}
footer {
  margin-top: 20px;
  opacity: 0.5;
  background-color: #383838;
  border-top: 1px solid #383838;
  height: 55px;
}
.nav.nav-tabs li a {
  color: #ffdf3f;
}
.nav.nav-tabs li a:hover {
  color: #222;
}
.trends .trend {
  list-style: none;
}
.trends .trend a {
  color: white;
}
#content {
  clear: both;
}
#guides {
  width: 1280px;
  height: 720px;
  border: 1px solid white;
  display: block;
  position: fixed;
  left: 50px;
  top: 10px;
  pointer-events: none;
}
