<div>
  <ul class="nav nav-tabs">
    <li ng-class="{active: selected=='created'}"><a href="#/" ng-click="selected='created'">Created</a></li>
    <li ng-class="{active: selected=='videoed'}"><a href="#/videoed" ng-click="selected='videoed'">Videoed</a></li>
    <li ng-class="{active: selected=='uploaded'}"><a href="#/uploaded" ng-click="selected='uploaded'">Uploaded</a></li>
    <li ng-class="{active: selected=='new'}"><a href="#/new" ng-click="selected='new'">New</a></li>
    <li ng-class="{active: selected=='trends'}"><a href="#/trends" ng-click="selected='trends'">Trends</a></li>
  </ul>
</div>
