<!-- Docs master nav -->
<header class="navbar navbar-static-top" role="banner">
<div>
  <h1 ng-show="project.ready && !project.done">{{ project.title}}</h1>
</div>
</header>

<!-- <audio autoplay> -->
<!-- <source src="sounds/1.mp3" type="audio/mpeg"> -->
<!-- Your browser does not support the audio element. -->
<!-- </audio> -->

<!-- <audio autoplay> -->
<!-- <source src="projects/{{project.name}}/audio.aiff.mp3" type="audio/mpeg"> -->
<!-- Your browser does not support the audio element. -->
<!-- </audio> -->

<!-- Page content of course! -->
<main id="content" role="main">
<div ng-if="project && !project.ready && !project.selectedImage">
  <div class="image"
       ng-repeat="image in project.images track by $index"
       ng-click="selectImage(image)">
    <!-- <p> {{image.name}} </p> -->
    <img class="img" ng-src="{{pathOf(image.name)}}"/>
  </div>
</div>
<div class="text-center splash"
     ng-show="project && !project.ready && project.selectedImage">
  <div class="row center">
    <img class="img slash-image"
         ng-src="{{pathOf(project.selectedImage.name)}}"/>
  </div>
  <div class="row">
    <h1 class="text-center">
      {{project.title}}
    </h1>
  </div>
</div>
<div ng-show="project && project.ready && !project.done">
  <div class="image">
    <img class="img" src=""/>
  </div>
</div>
<div class="logo-sub" ng-show="project && project.ready && !project.done">
  <div class="logo-image">
    <img class="logo-img" src="./logo.png"/>
  </div>
</div>
</main>


<!-- Footer
================================================== -->
<footer class="row navbar-fixed-bottom" role="contentinfo">
<div class="container">
  <div class="row text-center" style="padding-top: 10px;">
    <a href='#/' class="btn btn-success">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Back
    </a>
    <button ng-click="remove()" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Remove
    </button>
    <a href='#/uploaddata/{{project._id}}' class="btn btn-success">
      <i class="glyphicon glyphicon-info-sign"></i>
      Info
    </a>
    <button class="btn btn-success" ng-click="rebuild()">
      <i class="glyphicon glyphicon-retweet"></i>
      Rebuild
    </button>
    <button class="btn btn-warning" ng-click="mark('useless')">
      <i class="glyphicon glyphicon-ban-circle"></i>
      Useless
    </button>
    <button class="btn btn-success" ng-click="mark('videoed')">
      <i class="glyphicon glyphicon-ok"></i>
      Videoed
    </button>
    <button class="btn btn-success" ng-click="begin()"> Start
      <i class="glyphicon glyphicon-play"></i>
    </button>
  </div>
</div>
</footer>
<div id="guides">
</div>
