<!-- Docs master nav -->
<div class="container">
 <h3>
   {{project.description}}<br/>
   Wikipedia: {{project.wikipedia}}
 </h3>
 <h1>{{project.title}}</h1>
 <h2>{{project.keywords}}</h2>
 </div>

<!-- Footer
================================================== -->
<footer class="row navbar-fixed-bottom" role="contentinfo">
  <div class="container">
    <a href='#/project/{{project.name}}' class="btn btn-success">
      <i class="glyphicon glyphicon-back"></i>
      Back
    </a>
  </div>
</footer>
