<!-- Docs master nav -->
<div class="container">
 <h1>{{project.title}}</h1>
 <h2>{{project.keywords}}</h2>
 <h3>
   Wikipedia: {{project.wikipedia}} <br/>
   Description: {{project.description}}
 </h3>
 </div>

<!-- Footer
================================================== -->
<footer class="row navbar-fixed-bottom" role="contentinfo">
  <div class="col-xs-offset-0 col-xs-1">
    <a href='#/project/{{project.name}}' class="btn btn-success">
      <i class="glyphicon glyphicon-back"></i>
      Back
    </a>
  </div>
</footer>
