<!-- Docs master nav -->
<div class="container" style="background-color: rgba(255,255,255, 0.7)">
 <h1>{{project.title}}</h1>
 <hr/>
 <h3>Description</h3>
 <div>
   <p>
   {{project.description}}.
   </p>
   <p>
   <div>
     <span>Source: </span>{{project.wikipedia}}
   </div>
   <div>
     <span>License: </span>https://creativecommons.org/licenses/by-sa/3.0/
   </div>
   </p>
 </div>
 <hr/>
 <div>
   <h3> Keywords / Tags </h3>
   <p>{{project.keywords}}</p>
 </div>
 </div>

<!-- Footer
================================================== -->
<footer class="row navbar-fixed-bottom" role="contentinfo">
  <div class="container">
    <a href='#/project/{{project.name}}' class="btn btn-success">
      <i class="glyphicon glyphicon-back"></i>
      Back
    </a>
  </div>
</footer>
